<h1 class="text-center bg-danger text-white">Heroes App</h1>
<div class="row">
    <form (ngSubmit)="submitSearch()" class="mb-2">
        <div class="form-group col-xs-12">
            <input type="text" [(ngModel)]="searchString" name="searchString" class="form-control" id="search" placeholder="Búsqueda de super-héroe">
        </div>
    </form>

    <div *ngFor="let heroe of heroesList;" class="col-xs-12 col-sm-6 col-md-3">
        <a class="hero-entry" (click)="go_to(heroe.id)"  [style.background-image]="'url(' + heroe.thumbnail.path + '.' + heroe.thumbnail.extension + ')'">
            <span>{{heroe.name}}</span>
        </a>
    </div>

    <div class="paginator col-xs-12">
        <a class="paginator-prev" (click)="prevPage()" *ngIf="getHeroService().page > 0">Prev</a>
            Página {{getHeroService().page + 1}} de {{getHeroService().total}}
        <a class="paginator-next" (click)="nextPage()" *ngIf="getHeroService().page < getHeroService().total - 1">Next</a>
    </div>
</div>